.menu-user {
  display: inline-flex;
  align-items: center;
  position: relative;

  &__wrapper {
    position: absolute;
    top: 40px;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    padding: 12px 20px;
    border-radius: 10px;

    box-shadow: 0 4px 4px 0 var(--color-gray-box-shadow);
    background: var(--color-white);

    @media screen and (max-width: 1220px) {
      right: 0;
      left: auto;
    }
  }

  &__item {
    cursor: pointer;
    margin: 4px 0;
    text-align: center;
    text-decoration: none;
    color: var(--color-dark-text);

    &.red {
      color: var(--color-red);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}