@use "@/styles/typography";

.rating-page {
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    box-sizing: border-box;
    padding: 18px 20px;

    border-top: 1px solid var(--color-gray);

    &-info {
      &-user {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        &-completed {
          display: inline-flex;
          align-items: center;
          gap: 6px;

          &_text {
            @include typography.ordinary_subtitle;
          }

          &_reviews {
            @include typography.description;
            color: var(--color-blue);
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        &-profile {
          display: inline-flex;
          align-items: center;
          gap: 8px;

          &-rating {
            display: inline-flex;
            align-items: center;
            gap: 6px;

            & > svg {
              width: 20px;
              height: 20px;

              & > path {
                fill: var(--color-blue-dark);
                stroke: var(--color-blue);
              }
            }

            & > span {
              @include typography.signature;
            }
          }

          &-info {
            display: flex;
            flex-direction: column;
            gap: 2px;
          }

          &_img {
            width: 54px;
            height: 54px;
            border-radius: 50%;
          }

          &_head {
            @include typography.page_subtitle;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }

          &_username {
            @include typography.ordinary;
          }
        }
      }
    }
  }
}