@use "@/styles/typography";

.umstud-personal-rating-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  border-radius: 26px;
  background-color: var(--color-white);
  box-sizing: border-box;
  max-width: 265px;
  margin-bottom: 20px;

  @media screen and (max-width: 1220px) {
    width: 100%;
    max-width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    &_head {
      @include typography.ordinary_subtitle;
      text-align: center;
      font-weight: 500;
    }

    &_description {
      @include typography.ordinary_subtitle;
      text-align: center;
    }

    &-stars {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.reviews-profile {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__list {
    margin-top: 0;
  }

  &__item {
    padding: 12px;
    border-top: 1px solid var(--color-blue);

    display: flex;
    flex-direction: column;
    gap: 8px;

    &-message {
      @include typography.ordinary_subtitle;
    }

    &-info {
      display: inline-flex;
      align-items: center;
      gap: 12px;

      justify-content: space-between;
    }

    &-user {
      display: inline-flex;
      gap: 12px;
      align-items: center;

      &_img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }

      &_head {
        @include typography.ordinary_subtitle;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &_date {
        @include typography.signature;
        color: var(--color-gray-text);
      }

      &-info {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }
    }
  }
}
