@use "src/styles/variables";
@use "src/styles/typography";

.input {
  $this: &;

  display: block;
  max-width: 366px;

  &__full-width {
    width: 100%;
    max-width: none;
  }

  &__container {
    @include typography.ordinary_subtitle;
    display: flex;
    flex-direction: row;

    align-items: center;

    border: 1px solid var(--color-gray);
    box-sizing: border-box;
    border-radius: 10px;

    background-color: var(--color-white);

    &-warning {
      border: 1px solid var(--color-red);
    }
    &-full-width {
      width: 100%;
    }

    &-file {
      border-style: dashed;
    }

    #{$this}:hover & {
      border: 1px solid var(--color-blue);
      cursor: text;

      &-file {
        border-style: dashed;
        cursor: pointer;
      }
    }
    #{$this}:focus-within & {
      border: 1px solid var(--color-blue);
      &-file {
        border-style: dashed;
        cursor: pointer;
      }
    }
  }

  &__select-from {
    @include typography.ordinary_subtitle;
    width: 100%;
    height: 100%;

    border: 0;
    outline: none;

    padding: 16px;
    box-sizing: border-box;
    border-radius: inherit;
  }

  &__select-from-file {
    width: inherit;
    &.description {
      @extend .input__select-from;
      overflow: hidden;
      text-overflow: ellipsis;
      width: inherit;
    }
  }

  &__after-icon {
    display: flex;
    align-items: center;

    cursor: pointer;
    margin-right: 16px;

    user-select: none;

    > svg {
      max-width: 18px;
      max-height: 18px;
    }
  }

  &__label-block {
    margin-bottom: 4px;
  }

  &__label {
    @include typography.ordinary;
    color: var(--color-dark-text);

    &.require::after {
      content: '*';
      color: var(--color-red);
      margin-left: 2px;
    }
  }

  &__warning {
    display: flex;
    flex-direction: row;

    align-items: center;
    margin: 4px 0 0 2px;
    gap: 4px;

    width: 100%;

    > svg {
      max-width: 16px;
      max-height: 16px;
    }
    > svg, path {
      fill: var(--color-red);
    }
  }

  &__label-warning {
    @include typography.signature;
    color: var(--color-red);
  }

  &__text {
    &-start {
      text-align: start;
    }
    &-center {
      text-align: center;
    }
    &-end {
      text-align: end;
    }
  }
}