@use "styles/typography";

.profile-index {
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  &--container {
    display: inline-flex;
    gap: 20px;

    justify-content: space-between;
    width: 100%;
    max-width: 1040px;
  }

  &--header {
    display: inline-flex;
    gap: 26px;
    align-items: center;
    width: 100%;
  }

  &--subtitle {
    @include typography.page_subtitle;
  }
  &--text {
    @include typography.ordinary;
  }

  &--ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 26px;
    max-width: 400px;
  }

  &--header-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    &--wrapper {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 12px;
    }

    &--wrapper-text {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    &--title {
      @include typography.page_head;
    }
    &--description {
      @include typography.page_subtitle;
    }

    &--description {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &--item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2px;
    }
  }

  &--section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}