image: node:18

stages:
  - build
  - pages

cache:
  paths:
    - node_modules/

variables:
  BUILD_DIR: build

build:
  stage: build
  script:
    - npm ci
    - npm run build
    - mkdir public
    - cp -r $BUILD_DIR/* public/
  artifacts:
    paths:
      - public
    expire_in: 1 hour

pages:
  stage: pages
  dependencies:
    - build
  script:
    - echo "Deploying to GitLab Pages"
  artifacts:
    paths:
      - public
  only:
    - main
