@use "@/styles/typography";

.umstud-card-review {
  display: flex;
  flex-direction: column;

  flex: 1;
  padding: 22px 18px;
  gap: 22px;
  box-sizing: border-box;
  max-width: 260px;
  height: 180px;
  width: 100%;

  background: var(--color-white);
  border-radius: 10px;

  &__header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  &__heading {
    @include typography.page_subtitle;

    color: var(--color-dark-text);
  }

  &__comment-container {
    display: flex;
    flex-direction: column;

    gap: 2px;

    span, p {
      @include typography.ordinary;

      color: var(--color-dark-text);
    }
  }

  &__date {
    @include typography.signature;

    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
    text-align: end;

    color: var(--color-gray-text);
  }
}

.umstud-stars {
  display: flex;
  flex-direction: row;

  gap: 2px;
}
