@use "@/styles/typography";

.card-task {
  display: flex;
  flex-direction: column;

  gap: 12px;
  padding: 20px 20px 8px 20px;
  max-width: 660px; //TODO: Убрать это свойство на прод

  box-sizing: border-box;
  border-bottom: 1px solid var(--color-gray-text);
  background: var(--color-white);

  &--order {
    @extend .card-task;
    border-radius: 10px;
    border-top: 1px solid var(--color-gray-text);
    cursor: pointer;
  }

  &__header {
    cursor: pointer;
  }

  &__title {
    @include typography.page_subtitle;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    @media screen and (max-width: 1220px) {
      -webkit-line-clamp: 4;
      line-clamp: 4;
    }
  }
  &--description {
    @include typography.ordinary;
    color: var(--color-gray-text);
  }

  &__order {
    &-categories {
      @include typography.ordinary;
      color: var(--color-gray-text);

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;

      @media screen and (max-width: 1220px) {
        -webkit-line-clamp: 2;
        line-clamp: 2;
      }
    }

    &-author-full-name {
      @include typography.signature;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: var(--color-blue);
      }
    }

    &-type {
      @include typography.ordinary;
      text-wrap: nowrap;
      margin-right: 20px;
      color: var(--color-gray-text);
    }

    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 1220px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
      }
    }
  }

  &__states {
    display: inline-flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    gap: 20px;

    width: 100%;
    box-sizing: border-box;

    &-user {
      display: inline-flex;
      align-items: center;
      gap: 8px;

      &_img {
        border-radius: 50%;
        width: 38px;
        height: 38px;
      }
    }
  }

  &--closed {
    @include typography.signature;

    &::after {
      content: ":";
    }
  }

  &--person {
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }

  &--text {
    @include typography.ordinary_subtitle;
    &::after {
      content: ":";
    }
  }
  &--link {
    @include typography.ordinary_subtitle;
    text-decoration: underline;
    cursor: pointer;
  }
}
