.umstud-swiper {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  gap: 6px;

  max-width: 1024px;

  @media screen and (max-width: 1220px) {
    max-width: 768px;
  }

  @media screen and (max-width: 768px) {
    max-width: 300px;

    &__slide {
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
  }

  &__carousel-continuous {
    position: relative;
    overflow: hidden;

    .swiper-wrapper {
      transition-timing-function: linear !important;
    }

    & .swiper-pagination {
      position: initial;
      bottom: 0;
    }

    & .swiper-button-prev,
    & .swiper-button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
      height: 32px;
      background: rgba(0, 0, 0, 0.5);
      color: var(--color-white);
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
      z-index: 10;
      user-select: none;

      &::after {
        content: none;
      }

      & > svg > path {
        stroke: var(--color-white);
      }
    }
    & .swiper-button-prev {
      left: 8px;
    }
    & .swiper-button-next {
      right: 8px;
    }
  }
}
