@use "styles/typography";

.page-activate-account {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin: auto auto;
  padding: 62px 12px;

  svg {
    width: 41px;
    height: 41px;
  }

  &__heading {
    @include typography.main_subtitle;
    color: var(--color-dark-text);
  }

  &__header {
    display: inline-flex;
    align-items: center;
    gap: 2px;
  }

  &__action {
    max-width: 180px;
    width: 100%;
  }
}