@use "sass:color";

// Figma name: Белый (hex #FFFFF)
$color__white: hsl(0, 0%, 100%);

// Figma name: Голубой (hex #007AFF)
$color__blue: hsl(211, 100%, 50%);
// Figma name: Синий (hex #1450FF)
$color__blue-dark: hsl(225, 100%, 54%);

// Figma name: Зелёный (hex #0BC92A)
$color__green: hsl(130, 90%, 42%);

// Figma name: Черный текстовой (hex #3D3D3D)
$color__black-text: hsl(0, 0%, 24%);
// Figma name: Серый текстовой (hex #606060)
$color__gray-text: hsl(0, 0%, 38%);

// Figma name: Серый (hex #CDCDCD)
$color__gray: hsl(0, 0%, 80%);
// Figma name: Свело-серый (hex #F8F8F8)
$color__gray-light: hsl(0, 0%, 97%);
// Figma name: Прозрачный-серый (hex #CDCDCD2B 17%)
$color__gray-transparent: rgba(205, 205, 205, 0.17);
// Figma name: Модальный-серый (hex #000000 30%)
$color__gray-modal: rgba(0, 0, 0, 0.30);

// Figma name: Желтый (hex #FAFF00)
$color__yellow: hsl(61, 100%, 50%);
// Figma name: Тёмно-желтый (hex #DEE114FF)
$color__yellow-dark: hsl(61, 84%, 48%);

// Figma name: Красный (hex #D90000)
$color__red: hsl(0, 100%, 43%);
// Figma name: Светло-красный (hex #FFE2E2)
$color__red-light: hsl(0, 100%, 94%);

$gradient__blue: linear-gradient(92deg, #0E64FA 0%, #3945D0 100%);

$font-size-default: 16;
