@use "src/styles/typography";

.select {
  &__warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px 0 0 2px;
    gap: 4px;
    width: 100%;
  }

  &__label-warning {
    @include typography.signature;
    color: var(--color-red);
  }

  &__full-width {
    width: 100%;
  }

  &__label-block {
    margin-bottom: 4px;
  }

  &__label {
    @include typography.ordinary;

    &.require::after {
      content: '*';
      color: var(--color-red);
      margin-left: 2px;
    }
  }
}
