@use "src/styles/typography";

.section-container {
  display: flex;
  flex-direction: column;

  gap: 22px;

  align-items: center;

  text-align: center;
  margin-left: auto;
  margin-right: auto;

  max-width: 620px;
}

.index-page-container {
  display: flex;
  flex-direction: column;

  gap: 40px;
}

.section-welcome {
  background-image: url("../../static/images/index/veсtor-one.svg");
  background-size: cover;
  padding: 110px 0;
  @media screen and (max-width: 1220px) {
    padding: 60px 0;
  }

  &--background {
    position: absolute;
    z-index: -1;
  }

  &--wrapper {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100%;

    img {
      margin-top: -60px;
      max-width: 427px;
      max-height: 471px;
    }

    @media screen and (max-width: 1220px) {
      align-items: flex-start;
      padding: 10px 20px 0 20px;
      gap: 20px;
      svg {
        display: none;
      }
    }
  }

  &--info-block {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    @media screen and (max-width: 1220px) {
      text-align: center;
      align-items: center;
    }

    max-width: 456px;

    padding: 71px 0;
    gap: 16px;
  }
}

.section-how-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
  gap: 26px;

  &--title {
    @include typography.page_head;
  }

  &--points {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;

    @media screen and (max-width: 1220px) {
      flex-direction: column;
      gap: 12px;
    }
  }

  &--block-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    @media screen and (max-width: 1220px) {
      gap: 10px;
    }
  }

  &--point-info {
    display: inline-flex;
    gap: 12px;
    align-items: center;
    max-width: 282px;
  }

  &--point {
    @include typography.main_subtitle;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 50%;

    width: 100%;
    max-width: 41px;
    height: 41px;
  }

  &--point-descr {
    @include typography.ordinary;
    color: var(--color-gray-text);
    text-align: start;
  }
}

.section-advantages {
  background-image: url("../../static/images/index/veсtor-three.svg");
  background-size: cover;

  max-height: 355px;
  height: 100%;

  &--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 26px;
    padding: 137px 0;
    box-sizing: border-box;
  }

  &--info {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    &.stroke > svg > path {
      stroke: var(--color-white);
    }

    &.fill > svg > path {
      fill: var(--color-white);
    }

    > svg {
      max-width: 24px;
      max-height: 24px;
    }

    &.warn {
      > svg {
        stroke: var(--color-red);
      }
    }
  }

  &--title {
    @include typography.page_head;
    color: var(--color-white);
  }

  &--subtitle {
    @include typography.ordinary;
    color: var(--color-white);
  }

  &--about {
    display: flex;
    flex-direction: row;
    gap: 34px;
    justify-content: center;
    @media screen and (max-width: 1220px) {
      align-items: center;
      flex-direction: column;
      gap: 12px;
    }
  }
}

.section-reviews {
  background-image: url("../../static/images/index/vector-two.svg");
  background-size: cover;

  max-height: 462px;
  height: 100%;

  &--wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 22px;
    padding: 50px 65px 110px;
  }

  &--sub-heading {
    @extend .sub-heading;
    text-align: center;
  }

  &--header {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 6px;

    p, h2 {
      color: var(--color-white);
    }
  }

  &--description {
    @include typography.ordinary_subtitle;
  }

  &--cards {
    display: flex;

    gap: 24px;
  }
}

.type-work {
  &--header {
    display: flex;
    flex-direction: column;

    gap: 12px;

    @media screen and (max-width: 1220px) {
      padding: 0 20px;
    }
  }

  &--info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    padding: 0 40px;
    @media screen and (max-width: 1220px) {
      padding: 0 2px;
    }
  }

  &--problems {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-title {
      @include typography.page_subtitle;
      color: var(--color-dark-text);
    }

    &-subtitle {
      @include typography.ordinary;
      max-width: 384px;
      color: var(--color-gray-text);
    }
  }

  &--action {
    display: inline-flex;
    justify-content: center;
  }

  &--item {
    display: flex;

    @media screen and (max-width: 1220px) {
      flex-direction: column;
      text-align: center;

      gap: 8px;
    }

    justify-content: flex-start;
    align-items: center;
    padding: 8px 0;

    border-top: 1px solid var(--color-blue);
  }

  &--logo {
    max-width: 166px;
    width: 100%;

    img,
    svg {
      max-height: 46px;
    }
  }

  &--description {
    @include typography.ordinary_subtitle;

    text-align: start;
    @media screen and (max-width: 1220px) {
      text-align: center;
    }

    padding: 0 0 0 22px;

    color: var(--color-dark-text);
  }
}

.section-answer-questions {
  @extend .section-container;
  margin-bottom: 40px;

  &--header {
    display: flex;
    flex-direction: column;

    gap: 8px;
  }

  &--action {
    text-decoration: none;
  }
}

.main-heading {
  @include typography.main_heading;
  color: var(--color-white);
}
.heading {
  @include typography.main_subtitle;
  color: var(--color-white);
}

.sub-heading {
  @include typography.page_head;
  color: var(--color-dark-text);
}
.description {
  @include typography.ordinary;
  color: var(--color-dark-text);
}
