

.navigation-menu {
  display: flex;
  flex-direction: column;

  align-self: flex-start;
  align-items: center;
  padding: 12px;
  gap: 2px;
  max-width: 265px;
  box-sizing: border-box;
  width: 100%;

  border-radius: 26px;
  background: var(--color-white);

  &__container {
    display: flex;
    width: 267px;
    position: relative;

    @media screen and (max-width: 1220px) {
      display: none;
    }
  }

  &__item-route {
    box-sizing: border-box;
    padding: 10px 12px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    cursor: pointer;

    &-active {
      color: var(--color-white);
      background: var(--color-blue);
    }

    &:hover {
      background: var(--color-gray-light);
    }
  }
}
