@use "@/styles/typography";

.count-not-read-messages {
  width: 22px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: var(--color-blue);
  border-radius: 50%;

  @include typography.signature;
  color: var(--color-white);
}

.chats-page {
  &__last-message {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    overflow: hidden;
    width: 90%;

    &_text {
      @include typography.description;
      color: var(--color-gray-text);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 90%;

      &:last-child {
        color: var(--color-gray);
        width: 20%;

        &::before {
          margin-right: 4px;
          content: "•";
        }
      }
    }
  }

  &__wrapper {
    padding: 12px;

    & .page-content-title {
      margin: 8px 20px 0 20px;
    }
  }

  &__room {
    height: 100%;

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;

      min-height: 80vh;
      height: 100%;

      @media screen and (max-width: 1220px) {
        padding: 16px;
      }

      @media screen and (max-width: 1220px) {
        &.expanded {
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 100;
          border-radius: 0;
          margin: 0;
          padding: 8px;
          gap: 6px;

          & .message {
            padding: 4px 6px;
            gap: 4px;
          }
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 740px;
    overflow-y: auto;
    scrollbar-width: none;
    align-items: center;

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;

      gap: 12px;
      width: 100%;
      padding: 8px 12px;

      @media screen and (max-width: 1220px) {
        padding: 4px 8px;
      }

      border-radius: 12px;
      box-sizing: border-box;
      cursor: pointer;

      &:hover {
        background-color: var(--color-gray-transparent);
      }

      &_avatar > img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
  }

  &__content {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__block-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    overflow: hidden;

    &-header {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &_title-block {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        width: 100%;
      }
    }

    &_head {
      @include typography.description;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;

      &.dark {
        white-space: nowrap;
        overflow: initial;
        color: var(--color-gray-text);
        width: auto;

        &::after {
          content: "•";
          margin-left: 4px;
        }
      }
    }

    &_draft {
      display: flex;
      align-items: center;
      gap: 4px;

      overflow: hidden;
      max-width: 100%;
    }

    &_text {
      @include typography.description;
      color: var(--color-gray-text);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 96%;

      &_attachment,
      &_draft {
        @include typography.description;

        white-space: nowrap;
        flex-shrink: 0;
        color: var(--color-red);
      }

      &_attachment {
        color: var(--color-blue);
      }
    }
  }
}

.chat-room-page {
  &__panels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 740px;

    @media screen and (max-width: 1220px) {
      width: 100%;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0;

    &_h3 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    &_action-btn {
      outline: none;
      background: none;
      border: none;
      margin: 0;
      padding: 0;

      & > svg {
        width: 24px;
        height: 24px;
      }

      @media screen and (min-width: 1221px) {
        &.expand {
          display: none;
        }
      }
    }

    &_text {
      @include typography.signature;

      &.link {
        color: var(--color-blue);
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &_link-block {
      display: inline-flex;
      align-items: center;
      gap: 6px;

      &.with-actions {
        width: 100%;
        justify-content: space-between;
      }
    }
  }

  &__date-header {
    @include typography.description;
    color: var(--color-gray-text);
    text-align: center;

    padding: 4px 8px;
  }

  &__messages {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 12px 0;

    border-top: 1px solid var(--color-blue);
    border-bottom: 1px solid var(--color-blue);
  }

  &__send-message {
    display: inline-flex;
    align-items: flex-end;
    gap: 6px;

    &-files {

    }

    & .input__select-from {
      @include typography.description;
      padding: 12px;

      @media screen and (max-width: 1220px) {
        padding: 8px 10px;
      }
    }

    & .inline-loader{
      width: 30px;
      height: 30px;
      
      div {
        border-color: var(--color-gray) transparent transparent transparent;

        @media screen and (min-width: 1221px) {
          width: 25px;
          height: 25px;
        }
      }
    }

    &_btn,
    &_btn:hover {
      outline: none;
      border: none;
      background: none;
      margin: 0;
      padding: 0;

      & > svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__empty-messages {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;

    gap: 12px;

    width: 100%;
    height: 100%;

    &_img {
      max-width: 200px;
      max-height: 200px;
      border-radius: 50%;
    }

    &-interlocutor {
      display: flex;
      flex-direction: column;
      gap: 4px;

      &_head {
        @include typography.ordinary;
        text-decoration: underline;
        cursor: pointer;
      }

      &_description {
        @include typography.ordinary_subtitle;
      }
    }
  }
}

.message {
  display: inline-flex;
  align-items: flex-start;

  padding: 12px 20px;
  border-radius: 12px;
  box-sizing: border-box;
  gap: 12px;

  width: 100%;

  @media screen and (max-width: 1220px) {
    padding: 6px 8px;
  }

  &:hover {
    background-color: var(--color-gray-light);
  }

  & > svg,
  &__sender_img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-files {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }

  &__info {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 100%;

    & .message__views {
      position: absolute;
      right: 0;
      top: 0;
    }

    &_head {
      @include typography.description;
      color: var(--color-blue);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &_content {
      @include typography.description;
    }
  }

  &__views {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    &_time {
      @include typography.signature;
    }
  }
}

.umstud-manage-order {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 26px;
  padding: 12px;
  box-sizing: border-box;

  background-color: var(--color-white);

  gap: 12px;
  margin-bottom: 20px;

  @media screen and (max-width: 1220px) {
    width: 100%;
  }

  &__status {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    & .card-status {
      font-size: 14px;
      padding: 4px 8px;

      & > svg {
        max-width: 12px;
        align-self: flex-start;
      }
    }

    &_head {
      @include typography.ordinary;
      font-weight: 600;
    }

    &_description {
      @include typography.ordinary_subtitle;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }
}

.umstud-confirm-order-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-stars {
      display: flex;
      flex-direction: column;
      gap: 2px;

      &-wrapper {
        display: inline-flex;
        align-items: center;
        gap: 2px;
      }

      &_label {
        @include typography.ordinary;

        &::after {
          content: '*';
          color: var(--color-red);
          margin-left: 2px;
        }
      }

      &__label-warning {
        @include typography.signature;
        color: var(--color-red);
      }
    }
  }

  &__actions {
    display: inline-flex;
    align-self: center;
    gap: 12px;
    width: 100%;
  }
}
