@use "@/styles/typography";

.umstud-privacy-page {
  &_h5 {
    @include typography.page_subtitle;
    margin-bottom: 20px;
  }

  &_ol {
    margin-bottom: 16px;
    padding-left: 28px;
    overflow-y: auto;

    @media screen and (min-width: 768px) {
      padding-left: 40px;
    }
  }

  &_li {
    @include typography.ordinary_subtitle;
    margin-bottom: 8px;
  }

  &__link {
    @include typography.ordinary_subtitle;
    color: var(--color-blue);
    text-decoration: none;
  }

  &__description {
    @include typography.ordinary_subtitle;
    margin-bottom: 20px;
  }

  &__table {
    border-collapse: collapse;

    th,
    td {
      @include typography.ordinary_subtitle;
      border: 1px solid var(--color-gray);
      padding: 8px;
    }

    th {
      @include typography.ordinary;
      font-weight: 500;
    }

    ul {
      padding-left: 20px;
    }

    li {
      padding-bottom: 4px;
    }
  }
}
