@use "../../../styles/typography";

.switcher {
  display: inline-flex;
  align-items: center;
  position: relative;

  path {
    stroke: var(--color-white);
  }

  &__dropdown-menu {
    $size: 24px;

    max-width: $size;
    max-height: $size;

    & > svg {
      max-width: $size;
      max-height: $size;
    }
  }

  &__menu {
    top: 30px;
  }
}
