@use "@/styles/typography";

.profile-tabs {
  display: none;
  align-self: center;
  width: 100%;
  max-width: 740px;
  box-sizing: border-box;
  @media screen and (max-width: 1220px) {
    display: block;
  }

  &.item-hidden {
    display: none;
  }
}

.order-card {
  &__list {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
  }

  &__item_my-order {
    padding: 20px;
  }
}

.page-contents-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 740px;

  @media screen and (max-width: 1220px) {
    gap: 0;
  }
}

.reviews-profile {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__list {
    margin-top: 0;
  }

  &__item {
    padding: 12px;
    border-top: 1px solid var(--color-blue);

    display: flex;
    flex-direction: column;
    gap: 8px;

    &-message {
      @include typography.ordinary_subtitle;
    }

    &-info {
      display: inline-flex;
      align-items: center;
      gap: 12px;

      justify-content: space-between;
    }

    &-user {
      display: inline-flex;
      gap: 12px;
      align-items: center;

      &_img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }

      &_head {
        @include typography.ordinary_subtitle;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &_date {
        @include typography.signature;
        color: var(--color-gray-text);
      }

      &-info {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }
    }
  }
}